<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="EmulacionFiscal.Properties.Settings.MinionConnectionString"
        connectionString="Data Source=.\SQLCLOVERFIELD;Initial Catalog=Minion;User ID=sa;Password=cloverfield161185"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
